# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json

# individual certificates
certificates/*
mkcert*

dist/*

outcomes/*
install/_local_setup_util_ps1.py
install/_local_setup_util_sh.py
install/.colcon_install_layout
install/COLCON_IGNORE
install/local_setup.bash
install/local_setup.ps1
install/local_setup.sh
install/local_setup.zsh
install/setup.bash
install/setup.ps1
install/setup.sh
install/setup.zsh
install/stretch_web_teleop/lib/stretch_web_teleop/configure_video_streams.py
install/stretch_web_teleop/lib/stretch_web_teleop/detect_gripper.py
install/stretch_web_teleop/lib/stretch_web_teleop/navigation_camera.py
install/stretch_web_teleop/share/ament_index/resource_index/package_run_dependencies/stretch_web_teleop
install/stretch_web_teleop/share/ament_index/resource_index/packages/stretch_web_teleop
install/stretch_web_teleop/share/ament_index/resource_index/parent_prefix_path/stretch_web_teleop
install/stretch_web_teleop/share/colcon-core/packages/stretch_web_teleop
install/stretch_web_teleop/share/stretch_web_teleop/local_setup.bash
install/stretch_web_teleop/share/stretch_web_teleop/local_setup.dsv
install/stretch_web_teleop/share/stretch_web_teleop/local_setup.sh
install/stretch_web_teleop/share/stretch_web_teleop/local_setup.zsh
install/stretch_web_teleop/share/stretch_web_teleop/package.bash
install/stretch_web_teleop/share/stretch_web_teleop/package.dsv
install/stretch_web_teleop/share/stretch_web_teleop/package.ps1
install/stretch_web_teleop/share/stretch_web_teleop/package.sh
install/stretch_web_teleop/share/stretch_web_teleop/package.xml
install/stretch_web_teleop/share/stretch_web_teleop/package.zsh
install/stretch_web_teleop/share/stretch_web_teleop/certificates/.gitkeep
install/stretch_web_teleop/share/stretch_web_teleop/cmake/stretch_web_teleopConfig-version.cmake
install/stretch_web_teleop/share/stretch_web_teleop/cmake/stretch_web_teleopConfig.cmake
install/stretch_web_teleop/share/stretch_web_teleop/config/configure_video_streams_params.yaml
install/stretch_web_teleop/share/stretch_web_teleop/environment/ament_prefix_path.dsv
install/stretch_web_teleop/share/stretch_web_teleop/environment/ament_prefix_path.sh
install/stretch_web_teleop/share/stretch_web_teleop/environment/path.dsv
install/stretch_web_teleop/share/stretch_web_teleop/environment/path.sh
install/stretch_web_teleop/share/stretch_web_teleop/hook/cmake_prefix_path.dsv
install/stretch_web_teleop/share/stretch_web_teleop/hook/cmake_prefix_path.ps1
install/stretch_web_teleop/share/stretch_web_teleop/hook/cmake_prefix_path.sh
install/stretch_web_teleop/share/stretch_web_teleop/launch/gripper_camera.launch.py
install/stretch_web_teleop/share/stretch_web_teleop/launch/multi_camera.launch.py
install/stretch_web_teleop/share/stretch_web_teleop/launch/navigation_camera.launch.py
install/stretch_web_teleop/share/stretch_web_teleop/launch/web_interface.launch.py
install/stretch_web_teleop/share/stretch_web_teleop/maps/map.pgm
install/stretch_web_teleop/share/stretch_web_teleop/maps/map.yaml
install/stretch_web_teleop/share/stretch_web_teleop/nodes/blank_image.png
install/stretch_web_teleop/share/stretch_web_teleop/nodes/configure_video_streams.py
install/stretch_web_teleop/share/stretch_web_teleop/nodes/gripper_camera.py
install/stretch_web_teleop/share/stretch_web_teleop/nodes/navigation_camera.py
install/stretch_web_teleop/share/stretch_web_teleop/nodes/old_navigation_camera.py
log/COLCON_IGNORE
log/latest
log/latest_build
log/build_2024-04-21_23-01-42/events.log
log/build_2024-04-21_23-01-42/logger_all.log
log/build_2024-04-21_23-01-42/stretch_web_teleop/command.log
log/build_2024-04-21_23-01-42/stretch_web_teleop/stderr.log
log/build_2024-04-21_23-01-42/stretch_web_teleop/stdout_stderr.log
log/build_2024-04-21_23-01-42/stretch_web_teleop/stdout.log
log/build_2024-04-21_23-01-42/stretch_web_teleop/streams.log
log/build_2024-04-21_23-04-32/events.log
log/build_2024-04-21_23-04-32/logger_all.log
log/build_2024-04-21_23-04-32/stretch_web_teleop/command.log
log/build_2024-04-21_23-04-32/stretch_web_teleop/stderr.log
log/build_2024-04-21_23-04-32/stretch_web_teleop/stdout_stderr.log
log/build_2024-04-21_23-04-32/stretch_web_teleop/stdout.log
log/build_2024-04-21_23-04-32/stretch_web_teleop/streams.log
log/build_2024-04-21_23-05-03/events.log
log/build_2024-04-21_23-05-03/logger_all.log
log/build_2024-04-21_23-05-03/stretch_web_teleop/command.log
log/build_2024-04-21_23-05-03/stretch_web_teleop/stderr.log
log/build_2024-04-21_23-05-03/stretch_web_teleop/stdout_stderr.log
log/build_2024-04-21_23-05-03/stretch_web_teleop/stdout.log
log/build_2024-04-21_23-05-03/stretch_web_teleop/streams.log
install/stretch_web_teleop/share/stretch_web_teleop/nodes/detect_gripper.py
